# Binary files
bin/
obj/
# Packages and Rider ignored files
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
hash-cli-setup.exe
.obsidian/
hash-cli.sln.DotSettings.user
hash-cli/kaka.cs
# Testing files
test.txt
test.sha256